@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primary-color:#060c18;
  --secondary-color:#010103;
  --button-bg:#3983f0;
  --one:#4a7fdb;
  --two:#9f39af;
  --three:rgb(40, 221, 166);
  --alternate-color:#111111;
  --card-color:#000000;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body{
  width: 100vw;
  height: 100%;
  background: linear-gradient(to right , var(--primary-color), var(--secondary-color));
  color: white;
}
#nav-one{
  width: 100%;
  height: 50px;
  background: var(--card-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
  position: sticky;
  top: 0;
  z-index: 11;
}
#head{
  font-size: 30px;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 800;
  background:linear-gradient(to right,var(--one),var(--two),var(--three));
  color: transparent;
  background-clip: text;
}
#nav-one ul{
  width: fit-content;
}
#nav-one ul li{
  display: inline-block;
  margin:0 40px;
  list-style: none;
}
#nav-one ul li a{
  text-transform: capitalize;
  font-size: 18px;
  color: white;
  text-decoration: none;
  opacity: 0.7;
  transition: all 0.3s;
}
#nav-one ul li a:hover{
  opacity: 1;
}
#hero{
  width:100%;
  height: auto;
  text-align: center;
  padding: 20px;
  padding-top: 50px;
   background: linear-gradient(to right , var(--primary-color), var(--secondary-color));
}
.title{
  font-size: 70px;
  text-transform: capitalize;
}
.title span{
  background:linear-gradient(to right,var(--one),var(--two),var(--three));
  color: transparent;
  background-clip: text;
}
#sentence{
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0;
  margin-bottom: 40px;
  opacity: 0.8;
}
#sentence b{
  font-weight: 700;
}
.btn{
  padding: 10px 20px;
  background: var(--button-bg);
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  margin-right: 15px;
  opacity: .8;
  transition: all .3s;
}
.btn:hover{
  opacity: 1;
}
.btn.two{
  background: var(--alternate-color);
  border: 1px solid #f7f6f6;
}
.btn a{
  text-decoration: none;
  color:white;  
}
#about{
  width: 100%;
  height: fit-content;
  padding: 20px 0;  
  padding-left: 90px;
  display: flex;
  flex-wrap: wrap-reverse;
}
#about #box{
  width: 60%;
  max-width: 1000px;
  min-width: 500px;
  height: 100%;
  padding: 0 20px;
  padding-bottom: 50px;
}
#box h1{
  font-size: 40px;
  margin: 10px 0;
}
#box p{
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0;
  line-height: 30px;
  margin-bottom: 35px;
  opacity: 0.8;
}
#img{
  width: 40%;
  height:300px;
  display: flex;
  align-items:center;
  justify-content: center;
  align-self: center;
}
#img img{
  display: block;
  border-radius: 50%;
}
#skills{
  width: 100%;
  height: fit-content;
  text-align: center;
  padding: 20px;
  padding-bottom: 50px;
    background: linear-gradient(to right , var(--primary-color), var(--secondary-color));
}
#skills h1{
  font-size: 40px;
  margin-top: 20px;
}
#skills p{
  font-size: 20px;
  font-weight: 400;
  margin: 5px;
  line-height: 30px;
  margin-bottom: 35px;
  opacity: 0.8;
}
#grid{
  display: grid;
  grid-template-columns: repeat(auto-fill,400px);
  grid-template-rows: repeat(auto-fill,200px);
  align-content: center;
  justify-content: space-evenly ;
  gap: 50px;
  margin-top: 20px;
}
#grid .card{
  width: 100%;
  height: 100%;
  background: var(--card-color);
  padding: 20px;
  text-align: start;
  border-radius: 5px;
}
.card .icon{
  font-size: 50px;
  margin: 20px;
}
.card h2{
  font-size: 25px;
  margin:5px 10px;
  letter-spacing: 1px;
}
.card .range{
  height: 5px;
  width: 90%;
  background:linear-gradient(to right,var(--one),var(--two));
  border-radius: 50px;
  margin: 8px;
}
#projects{
  width: 100%;
  height: fit-content;
    background: linear-gradient(to right , var(--primary-color), var(--secondary-color));
  padding: 20px;
  text-align: center;
}
#projects h1{
  font-size: 40px;
  margin-bottom: 20px;
}
#projects ~ p{
  font-size: 20px;
  font-weight: 400;
  margin: 5px;
  line-height: 30px;
  margin-bottom: 35px;
  opacity: 0.8; 
}
#container{
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill,400px);
  align-content: center;
  justify-content: space-evenly;
  gap: 30px;
}
.project{
  width: 400px;
  height: fit-content;
  padding: 20px;
  text-align: start;
  background: var(--card-color);
  border-radius: 5px;
}
.project img{
  width: 100%;
  height: 180px;
}
.project h2{
  font-size: 20px;
  margin: 10px 0;
}
.para{
  font-size: 15px;
  margin-bottom: 10px;
}
.project ul{
  width: 100%;
  height: 20px;
  list-style: none;
  margin: 20px 0;
}
.project ul li{
  display: inline-block;
  padding: 8px 12px;
  border-radius: 50px;
  background: var(--alternate-color);
  margin: 5px 0;
  margin-right: 5px;
}
.buttons > .btn{
  display: inline-block;
  padding: 5px 10px;
  margin-top: 20px;
}
.buttons .code{
  display: inline-block;
}
.buttons a{
  margin: 0 10px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
#link{
  width: 100%;
  background:var(--card-color);
  height: fit-content;
  padding: 20px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#link h2{
  font-size: 30px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
#link ul{
  width: fit-content;
}
#link ul li{
  display: inline-block;
  margin:0 10px;
  list-style: none;
}
#link ul li a{
  text-transform: capitalize;
  font-size: 18px;  
  color: white;
  text-decoration: none;
  opacity: 0.7;
  transition: all 0.3s;
}
#link ul li a:hover{
  opacity: 1;
}
#icons a{
  text-decoration: none;
  color: white;
}
#link .icon{
  font-size: 25px;
  margin: 5px;
}
